@model IEnumerable<EasyDocs.Models.Doc>

@{
    ViewData["Title"] = "Welcome";
}

<h4 class="my-4">Start a new document</h4>

<a asp-action="Create" class="d-flex justify-content-center align-items-center rounded mb-1" style="text-decoration: none; width: 150px; height: 200px; background-color: rgb(200,200,200); font-size: 100px;">
    <span style="color: black;">+</span>
</a>
<span class="fw-bold">Blank Doc</span>

<hr class="my-4"/>

<h4 class="mb-4">Recent Documents</h4>

<div class="row">
    @foreach(var doc in Model)
    {
        <div class="col-lg-2 col-sm-4 col-6">
            <a asp-action="Edit" asp-route-id="@doc.Id" class="d-flex justify-content-center align-items-center rounded mb-1" style="text-decoration: none; width: 150px; height: 200px; background-color: lightblue; font-size: 100px">
                <span style="color: black;">📃</span>
            </a>
            <span class="fw-bold">@doc.Title</span>
        </div>
    }
</div>